.box {
  width: 100px;
  height: 100px;
}

.btn-rounded {
  border-radius: 50px;
}

.margins-sides {
  margin-left: 20%;
  margin-right: 20%;
}

.margins-top-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
}

.half {
    width: 50%;
}

@media (max-width: 576px) {
  .margins-20 {
    margin-left: 10%;
    margin-right: 10%;
  }
}
