.box {
  width: 100px;
  height: 100px;
}

.btn-rounded {
  border-radius: 50px;
}

.margin-sides {
  margin-left: 20%;
  margin-right: 20%;
}

.margin-top {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
}

.half {
    width: 50%;
}

.margin-none {
  margin: 0px;
  padding: 0px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.mobile {
  display: none;
}

@media (max-width: 576px) {
  .margin-sides {
    margin-left: 10%;
    margin-right: 10%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: inherit;
  }
}

@media (max-width: 992px) {
  .homePageHeader {
    background-size: 600px 500px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: inherit;
  }
}
